.home-container {
  /* height: auto; */
  /* width: 95vw; */
  /* margin: auto; */
  /* border: 5px solid rgb(242, 235, 235); */
  /* display: flex; */
  margin-top: 12em;
  /* margin-bottom: 20%; */
}

@keyframes slideIn {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.animated-background {
  width: 100vw;
  height: 40vh;
  margin: auto;
  /* overflow: hidden; */
  position: relative;
  background-image: url("../../Images/paintimagegreen.jpg");
  /* background: linear-gradient(to right, #ff0000, #00ff00, #0000ff); */
  /* background-size: 300% 100%; */
  background-size: 300% 80%;
  /* background-size: cover; */
  /* background-position: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideIn 2s ease-in;
  /* animation-fill-mode: backwards; */
  /* animation-delay: 1s; */
}

.home-info {
  flex: 1;
  text-align: center;
  /* display: table-cell; */
  /* width: 80%; */
  /* padding: 3px 30px 3px 30px; */
}

.social-icon-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.shelby-photo-container {
  flex: 1;
  /* text-align: center;
  overflow: hidden;
  min-width: 16rem;
  width: 90%;
  aspect-ratio: 1;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  margin-top: 3rem; */

  /* display: table-cell; */
  /* width: 60%; */
}

.shelby-photo {
  border-radius: 39% 61% 71% 29%/38% 29% 71% 62%;
  width: 400px;
  height: auto;
}

/* @media screen and (max-width: 995px) {
  .shelby-photo {
    padding-top: 40px;
    padding-bottom: 10px;
  }
} */

p {
  font-size: 2.2rem;
}

@media screen and (max-width: 655px) {
  .home-container {
    margin-top: 1em;
  }

  .animated-background {
    flex-direction: column;
    height: 70vh;
    justify-content: flex-start;
  }

  .shelby-photo {
    width: 300px;
  }
}
@media screen and (min-height: 1100px) {
  .shelby-photo-container {
    text-align: center;
  }
  .shelby-photo {
    width: 450px;
  }
}
