.contact-info {
  /* background-color: rgb(248, 248, 247); */
  /* border: 5px solid rgb(242, 235, 235); */
  display: flex;
  justify-content: space-evenly;
  /* justify-content: center; */
  align-items: center;
  gap: 60px;
  margin-top: 5em;
}
.email-container {
  text-align: center;
}

.email-text {
  font-size: 20px;
  margin-top: 10px;
}

.resume-icon {
  padding-left: 7px;
}
.resume-text {
  font-size: 20px;
  margin-top: 1px;
}

.resume-text:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: black;
}

.github-icon {
  height: 100px;
  width: 100px;
}

.contact-icon {
  height: 140px;
  width: 140px;
}

.contact-icon:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media screen and (max-width: 920px) {
  .contact-container {
    height: 140vh;
    width: 55vw;
    display: flex;
    flex-direction: column;
    gap: 90px;
  }
}
