.contact-container {
    height: 35vh;
    width: 70vw;
    /* background-color: rgb(248, 248, 247); */
    margin: auto;
    border: 5px solid rgb(242, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17%;
    gap: 90px;
}

.email-text {
    font-size: 20px;
    margin-top: 10px;
}

.contact-icon {
    height: 140px;
    width: 140px;
}

.contact-icon:hover {
    transform: scale(1.1);
    transition: .3s;
}