h1 {
    padding-top: 10px;
    padding-bottom: 30px;

}

.projects-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12%;
}

iframe {
    padding-left: 5px;
    padding-right: 5px;
}

.trail-project-container {
    height: 65vh;
    width: 35vw;
    border: 4px solid rgb(242, 235, 235);
}

.dino-project-container {
    height: 65vh;
    width: 35vw;
    border: 4px solid rgb(242, 235, 235);
}

.project-description-text {
    font-size: 24px;
    padding: 35px;
}

.project-repo-link {
    text-decoration: underline;
    font-size: 22px;
    color: black;
}

.project-repo-link:hover {
    color: black;
}
