section {
  padding: 0 40px;
}

.about-me-container {
  /* height: auto; */
  /* width: 85vw; */
  /* margin: auto; */
  /* border: 5px solid rgb(242, 235, 235); */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 16em;
}

.about-me-info {
  flex: 1;
  text-align: center;
  /* display: table-cell;
    width: 80%;
    padding: 3px 30px 3px 30px; */
}

.about-me-text {
  font-size: 1.4rem;
}

.name {
  padding: 0px;
}

h3 {
  font-size: 20px;
}

.skills-section {
  flex: 1;
  text-align: center;
  max-width: 40%;
}

.skills-icon {
  /* height: 55px; */
  /* width: 55px; */
  /* padding: 5px; */
  height: 100px;
  width: 85px;
  padding: 15px;
}

@media screen and (max-width: 995px) {
  .skills-section {
    max-width: unset;
    margin-top: 80px;
  }

  .about-me-container {
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
  }
  .shelby-photo {
    padding-top: 40px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 655px) {
  section {
    padding: 0 5px;
  }
}
